<div id="<%= dom_id programming_language %>">
  <p>
    <strong>Name:</strong>
    <%= programming_language.name %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= programming_language.creator %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= programming_language.year %>
  </p>

</div>
